<header>
	<section>
		<!-- <figure><img class='logo' src="/images/logo.png"></figure> -->
		<section class='user'>	
			{{#if user}}
				<div class='currentUser'>
					<div><i class="fa fa-bell" aria-hidden="true"></i></div>
					<img src='/images/{{user.pic}}' />
				</div>
			{{else}}
				<a href="/register">
					<div>
						Login / Signup
					</div>
				</a>
			{{/if}}
		</section>
		<div class="clear"></div>
	</section>

	<form method="post">
		<div class='select-wrapper'>
			<select name='verb'>
				<option>What To Do</option>
				<option>What To Say</option>
			</select>
		</div>
		<input type="text" name="text" placeholder="What's on your mind">
		<div class='select-wrapper'>
			<select name='category'>
				<option value="relationship">Relationship</option>
				<option value="travel">Travel</option>
				<option value="food">Food</option>
				<option value="sports">Sports</option>
				<option value="technology">Technology</option>
				<option value="career">Career</option>
				<option value="other">Other</option>	
			</select>
		</div>
	</form>

	<nav>
		<ul>
			<a href="/"><li>News Feed</li></a>
			<a href='/?category=relationship'><li>Relationship</li></a>
			<a href='/?category=travel'><li>Travel</li></a>
			<a href='/?category=food'><li>Food</li></a>
			<a href='/?category=sports'><li>Sports</li></a>
			<a href='/?category=technology'><li>Technology</li></a>
			<a href ="/?category=career"><li>Career</li></a>
		</ul>	
	</nav>
</header>

<style type="text/css">
	header{
		background-color: {{color}};
	}
	header nav ul li{
		border-bottom-color: {{color}};
	}

</style>

<div class='wrapper'>
	<div class='feed'>
		{{#each question}}
			<div class="post">
				<img src=/images/{{this.user.pic}}>
				<div class='poster'>
					<h2>{{this.user.name}}</h2>
				</div>
				<div class="clear"></div>
				<p>
					{{this.text}}
				</p>
				<div class='bottom'><i class="fa fa-comment" aria-hidden="false"></i>Suggestions</div>
				<div class="timestamp">{{formatRelative this.createdAt}}</div>
				
				<section class='comments'>
					{{#each this.suggestions}}
					<div class="comment_wrapper">

						<img src="/images/{{this.user.pic}}">
						<a>@{{this.user.name}}</a>
						<span class=comment>{{this.text}}</span>

						<div>
							<span>
								<i class="fa fa-heart {{#ifIn this.likers ../../user.username }} unlike{{/ifIn}}" aria-hidden="true" id="{{this._id}}" 
								{{#ifIn this.likers ../../user.username }} 
									liked = "true"
								{{/ifIn}}></i>
								<span class='number'>{{this.likes}}</span> Likes</span>
							<span class="timestamp">{{formatRelative this.createdAt}}</span>
						</div>
					</div>
					{{/each}}

					<div class="comment_wrapper post_comment">
						<img src="/images/{{user.pic}}">
						<div>
							<input class='newComment' type="text" name="comment">
							<input class='q' type="hidden" name="q" value='{{this._id}}'>
						</div>
					</div>
				</section>
			</div>
		{{/each}}
	</div>


	<div class='right'>
		<form action='/search'>
			<input type="text" name="s" placeholder='&#xf002; Search Seam' style="font-family:Arial, FontAwesome" />
		</form>
		<section class='trending'>
			<h2>Trending Posts</h2>
			{{#each top}}
				<a href="/post/{{this.slug}}">
					<div class='post'>
						<h3>@{{this.user.name}}</h3>
						<p>
							{{this.text}}
						</p>
						<div class='bottom'><i class="fa fa-comment" aria-hidden="true"></i>Suggestions</div>
						<div class="timestamp">{{formatRelative this.createdAt}}</div>
						<div class="clear"></div>
					</div>
				</a>
			{{/each}}
		</section>

		<section class='my_posts'>
			<h2>Your Posts</h2>
			{{#each yours}}
				<a href="/post/{{this.slug}}">
					<div class='post'>
						<h3>@{{this.user.name}}</h3>
						<p>
							{{this.text}}
						</p>
						<div class='bottom'><i class="fa fa-comment" aria-hidden="true"></i>Suggestions</div>
						<div class="timestamp">{{formatRelative this.createdAt}}</div>
						<div class="clear"></div>
					</div>
				</a>
			{{/each}}
		</section>
	</div>
</div>